{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure    {:mvn/version "1.11.1"}
           aleph/aleph            {:mvn/version "0.5.0-rc2"}
           org.slf4j/slf4j-simple {:mvn/version "1.7.36"}
           lambdaisland/regal     {:mvn/version "0.0.143"}}
 :aliases {:build {:deps       {com.github.liquidz/build.edn {:git/tag "0.3.90" :git/sha "e3a3e31"}}
                   :ns-default build-edn.main}}}
